NAVBAR DU DEBUT SI JAMAIS

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{path('app_homepage') }}">CyberCom</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link active" href="{{path('app_utilisateur') }}">Mon compte
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="{{path('app_login') }}">Connexion
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<script>
	// Récupère le bouton de bascule de la navigation
var navbarToggle = document.querySelector('.navbar-toggler');

// Récupère la zone de navigation
var navbarCollapse = document.querySelector('.navbar-collapse');

// Ajoute un écouteur d'événements pour le clic sur le bouton de bascule
navbarToggle.addEventListener('click', function () { // Bascule la classe 'show' sur la zone de navigation
navbarCollapse.classList.toggle('show');
});
</script>

<style>
	body {
		background: #272727;
		font-family: "Montserrat", sans-serif;
	}
</style>
